*.sublime-workspace
*.sublime-project
phaser/node_modules/
luxe/node_modules/
luxe/bin/
unity/Library/
*.suo
spritekit/MoManPlayground.playground/playground.xcworkspace/contents.xcworkspacedata
spritekit/MoManPlayground.playground/playground.xcworkspace/xcuserdata/andrewbowers.xcuserdatad/UserInterfaceState.xcuserstate
